<section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="page-header">Photos</h1>
          <ul class="photos gallery-parent">
            <li>
              <a href="assets/img/sample1.jpg" data-toggle="lightbox"
                ><img
                  src="assets/img/sample1.jpg"
                  alt="sample"
                  class="img-thumbnail"
              /></a>
            </li>
            <li>
              <a href="assets/img/sample2.jpg" data-toggle="lightbox"
                ><img
                  src="assets/img/sample2.jpg"
                  alt="sample"
                  class="img-thumbnail"
              /></a>
            </li>
            <li>
              <a href="assets/img/sample3.jpg" data-toggle="lightbox"
                ><img
                  src="assets/img/sample3.jpg"
                  alt="sample"
                  class="img-thumbnail"
              /></a>
            </li>
            <li>
              <a href="assets/img/sample4.jpg" data-toggle="lightbox"
                ><img
                  src="assets/img/sample4.jpg"
                  alt="sample"
                  class="img-thumbnail"
              /></a>
            </li>
            <li>
              <a href="assets/img/sample5.jpg" data-toggle="lightbox"
                ><img
                  src="assets/img/sample5.jpg"
                  alt="sample"
                  class="img-thumbnail"
              /></a>
            </li>
            <li>
              <a href="assets/img/sample6.jpg" data-toggle="lightbox"
                ><img
                  src="assets/img/sample6.jpg"
                  alt="sample"
                  class="img-thumbnail"
              /></a>
            </li>
          </ul>
        </div>
        <!-- col-md-8 end -->
      </div>
    </div>
  </section>