.element { 
    position: absolute; 
    top: 40px; 
    right: 40px; 
   
  } 
  a{
    color: white;
  }

  .warn{
    color:white;
    font-size:smaller;
  }

  .container{
    position: absolute; 
    top: 31px; 
  }