<form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputEmail3"
        >Email address</label
      >
      <input
        type="email"
        class="form-control"
        name="exampleInputEmail3"
        id="exampleInputEmail3"
        placeholder="Enter email"
        [(ngModel)]="userEmail"
      />
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputPassword3">Password</label>
      <input
        type="password"
        class="form-control"
        name="exampleInputPassword3"
        id="exampleInputPassword3"
        placeholder="Password"
        [(ngModel)]="userPassword"
      />
    </div>
    <button type="submit" class="btn btn-default" (click)="test()">Sign in</button><br />
    <div class="checkbox">
      <label> <input type="checkbox" /> Remember me </label>
    </div>
  </form>