.createAccount{
    background:#d0d6df;
	height:420px;
	color:#04519b;
	font-weight: bold;
	text-align: center;
	padding-top:40px;
	margin-top:20px;
	
}

button{
	background: rgb(10, 182, 10);
	border-radius: 4px;
	color: honeydew;
}
